body, html {
  /* padding: 20px;
  background: #f2f2f2; */
  font-family: 'Big Shoulders Text', sans-serif;
  height: 100%;
  margin: 0;
}

img {
  width: 20%;
  height: auto;
  padding: 10px 10px;
  background-color: #36454f;
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 15px;
}
h1 {
  margin-bottom: .5em;
  font-family: 'Big Shoulders Text', sans-serif;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.my-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 3px;
  width: 50%;
  height: auto;
  cursor: pointer;
  font-family: 'Big Shoulders Text', sans-serif;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #36454f;
}


/* a {
text-decoration: none;
color: black;
} */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.container {
  display: grid;

  grid-template-areas:
  "header header header"
  "nav content side"
  "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}
header {
  grid-area: header;
  padding: 10px;
  text-align: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
  background-color: #3cb371;
  padding: 10px;
  text-align: center;
}

main {
  grid-area: content;
  padding: 10px;
  color: #808080;
  background-color: #76c1d4;
}
main h1{
  color: #36454f;
  text-align: center;
  clear: both;
  font-size: 2.5em;
}

main p{
  font-size: 1em;
}

main div{
  clear: right;
}

.headshot{
  float: left;
  margin: 0px 0px 10px  4px;
  width: 20%;
  height: auto;
  padding: 10px 10px;
  background-color: #36454f;
  border: 3px solid white;
  border-radius: 10px;
  float: right;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
  background-color: #3cb371;
  padding: 10px;
  text-align: center;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('https://digitalhumanities.duke.edu/sites/digitalhumanities.duke.edu/files/tableaudashboard.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #36454f;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: .8em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #3cb371 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#3cb371;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  width: 85%;
  height: auto;
}

.zoom:hover {
  transform: scale(3.6); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
